.principal{
    background: rgb(0, 255, 21);
    padding: 20px;
}

#bandeira{
    width: 100%;
}

.tp{
    padding-left: 100px;
}

.ts{
    text-align: center;
}

p{
    text-align: center;
}

#p1{
    color: red;
    font-size: 20px;
}

#ano{
    font-size: 18px;
    font-style: italic;
}

p strong em{
    color: slateblue;
}

.tripulacao{
    background: cyan;
    padding: 20px;
}

.lista{
    display: inline-block;
    vertical-align: 200px;
    width: 20%;
    margin-right: 3%;
}

.chapeusdepalha{
    width: 50%;
}