footer{
    background: url("./img_css_bg/bg.jpg");
    padding: 10px 0 20px 0;
    text-align: center;
}

.copy{
    font-size: 13px;
    color: aliceblue;
}

header{
    background: #BBBBBB;
}

.quadro{
    width: 940px;
    margin: 0 auto 0 auto;
    position: relative;
}

nav{
    position: absolute;
    top: 100px;
    right: 0;
}

nav li{
    display: inline;
}

nav a{
    margin-left: 15px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

nav a:hover{
    color: rgb(123, 255, 0);
    text-decoration: underline;
}

.img_principal{
    width: 1000px;
    margin: 0 auto 20px auto;
}

#banner{
    width: 100%;
}

.tras{
    background: #CCCCCC;
    padding: 30px 0;
}

.texto_principal{
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.sobre{
    font-weight: bolder;
    font-size: 30px;
    color: blue;
}

.blabla{
    font-size: 18px;
}

.missao{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.apresentacao{
    font-size: 18px;
    color: red;
}

.beneficios{
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
    
}

.lista_ben{
    display: inline-block;
    vertical-align: top;
    margin: 0 100px 0 0;
}

.lista_ben li{
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}


#img_ben{
    width: 50%;
}