/* ************************************header********************************* */
header{
    background: #CCCCCC;
    padding: 20px 0;
}

header:active{
    background: #BBBBBB;
}

.limite{
    width: 940px;
    margin: 0 auto 0 auto;
    position: relative;
}

nav {
    position: absolute;
    top: 125px;
    right: 0;
}

nav li{
    display: inline;
    margin-left: 15px;
}

nav a{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: yellow;
    text-decoration: underline;
}

/* ************************************main********************************* */

main{
    width: 940px;
    margin: 0 auto;
    padding: 30px 0 20px 0;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

.input_padrao{
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: rgb(190, 106, 2);
    transform: scale(1.2);
}

table{
    margin: 20px 0 20px 0;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid black;
    padding: 8px 15px;
}

/* ************************************footer********************************* */

footer{
    text-align: center;
    background: url("./img_css_bg/bg.jpg");
    padding: 20px 0;
}

.copy{
    font-size: 13px;
    color:aliceblue;
}

@media screen and (max-width:480px){
    .limite, main, footer{
        width: auto;
    }

    .limite h1{
        text-align: center;
        display: block;
     }

    .limite h1 img{
        width: auto;
    }

    main{
        padding: 10px 20px;
    }

    .enviar:hover{
        background: blue;
    }

    nav{
        position: static;
        text-align: center;
    }
}