header{
    background: #BBBBBB;
    padding: 20px 0 20px 0;
}

.caixa{
     width: 940px;
     position: relative;
     margin: 0 auto 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 20px;
}

nav a{
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
    color: yellow;
}

.produtos{
    width: 940px;
    margin: 0 auto 0 auto;
    padding: 50px 0 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
}

.produtos li:hover{
    border: 2px yellow dashed;
}

.produtos li:active{
    border: 2px red solid;
}

.produtos li:hover h2{
    color: blueviolet;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto_descricao{
    font-size: 18px;
}

.produto_preco{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0 0;
}

footer{
    text-align: center;
    background: url("./img_css_bg/bg.jpg");
    padding: 40px 0 40px 0;
}

.copyright{
    font-size: 13px;
    color: wheat;
    margin: 20px 0 0 0;
}

@media screen and (max-width: 480px) {
    .caixa, .produtos{
        width: auto;
    }
    .caixa h1{
        text-align: center;
        display: block;
    }


    nav{
        position: static;
        text-align: center;
    }
    nav li {
        display: inline-block;
        margin-left: 10px;
        text-decoration: underline;
    }
    .produtos li{
        display: block;
        width: auto;
        margin-bottom: 50px;
    }

}